@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.blue {
  text-decoration: none;
  color: #002f81;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(0, 47, 129, 0.2);
  }
}

h1 {
  font-weight: 700;
}

.blue {
  color: #002f81;
}

label {
  font-weight: bold;
}

button {
  height: 32px;
  border: none;
  color: #fff;
  background-color: #002f81;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  display: flex;
  padding: 8px 12px;
}

input {
  height: 32px;
  width: 124px;
  color: #002f81;
  background-color: #fff;
  border-radius: 8px;
  border: #ff5a00 solid 2px;
}

span {
  color: #000;
  font-weight: bold;
  text-transform: capitalize;
}
